body {
    background-color: grey;
}

button {
  background-color: darkgreen;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

 div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 250px;

} 